<div class="container">
  <app-header></app-header>
</div>
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
      <li class="nav-item"><a  class="nav-link" routerLink="regs">Registration</a></li>
      <li class="nav-item"><a  class="nav-link" routerLink="form">FORM</a></li>
      
    </ul>
    </div>
    </nav> -->
<router-outlet id="star"> </router-outlet>  